.navbar-default{
    background: linear-gradient(to bottom, #300000, rgba(0,255,0,0));
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
    width: 50px;
    height: 50px;
    margin-bottom: auto;
}
.row{
    padding-bottom: 0px;
}
caption
{
    color: white;
}
header{
    background-color: #808080;
}

table {
    background-color: #A8A8A8;
    color: #1a242f;
}
button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    background-color: #b62516;
    color: white;
}

a, a:hover, a:focus, a:active, a.active
{
    color: #d62c1a;
}

button .btn-default{
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    background-color: transparent;
}
