.navbar-default{
    /*background: linear-gradient(to bottom, #300000, rgba(0,255,0,0));*/
    background-color: #2C3E50;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
    width: 50px;
    height: 75px;
    margin-bottom: auto;
}
.row{
    padding-bottom: 0px;
}
caption
{
    color: black;
}
strong {
    color: #d62c1a;
}
header{
    background-color: #F0F0F0;
}

table {
    background-color: #A8A8A8;
    color: #1a242f;
}
button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    background-color: #b62516;
    color: white;
}

a, a:hover, a:focus, a:active, a.active
{
    color: #d62c1a;
}

button .btn-default{
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    background-color: transparent;
}

.panel-default{
     border-color:#FF0000;
     height: 100px;
     background-color: #D0D0D0;
 }
 .logo{
    width: 200px;
    height: 200px;  
    margin-bottom: 0px;
 }

.confirmNom{
    display: none;
    color: #d62c1a;
}